body{
    background-color: bisque;
}
header{
    background-color: brown;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height: 600px;
    flex-wrap: wrap;
}

.box{
    min-width: 200px;
    min-height: 200px;
    background-color: aquamarine;
    border: 5px solid black;
    margin: 10px;


}

.p1::before{
    content: "??";
    position: relative;
   right: 10px;
}
label:has(+input:valid){
    color: green    ;
}

label:has(+input:invalid){
    color: red    ;
}
div>p{
    color: gray;
}
div:has(p){
    background-color: blueviolet;
}