*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}
section{
    max-width: 1170px;

}
.title1{
   margin: auto;
}
.title{
    margin: 50px 50px;
    font-size:2em;
    text-align: center;
    
}

.question-center{
    margin: auto;
    text-align: center;
    max-width: 100%;
    
    
}
.question{
width: 100%;
padding: 1em;
    background-color: bisque;
    
}
.question-title{
    width: 90%;
    display: inline-block;
}

.question-text{ 
    width: 80vh;
    padding: 1rem 0 1.5rem 0;
    display: none;
}
button{
    padding: 1rem 0 1.5rem 0;
font-size: 20px;
padding: 10px;
}

.close-btn{
    display: none;
}

.show-text .open-btn{
    display: none;
}
.show-text .close-btn{
    display: block;
}
.show-text .question-text{
    display: block;
}